$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";
$slick-font-path: "/bower_components/slick-carousel/slick/fonts/";

/* colors */
$blue: #375260;
$blueLight: #e8f2f7;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: $blueLight;
    color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
}


h1, h2, h3 {
    color: $blue;
    font-family: 'Patua One', sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    margin-top: 32px;
}

th, td {
    padding: 0 12px 4px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-color: RGBA(195, 214, 225, 0.4);
    border-bottom: 0;
    border-radius: 0;
    border-top: 1px solid #f2f2f2;
    margin: 10px 15px;
    padding: 40px 50px;
    text-align: left;

    h1 {
        color: $blue;
    }
    
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.container .jumbotron {
    border-radius: 1px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.map-container {
    background: rgba($blue, .1);
    border-radius: 1px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;

    h2 {
        margin-top: 0;
    }
}
.map {
    border: 1px solid rgba($blue, .1);
    height: 360px;
    width: 100%;
}

.carousel-link {
    display: block;
    min-height: 525px;
}

.carousel-image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 525px;
    max-width: 700px;
    width: auto;
}

.description {
    margin: 2em 0 0;
}

.description ul {
    padding-left: 30px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}

.description li {
    &:before {
        content: '✔';
        margin-left: -30px;
        margin-right: 10px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
