$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";
$slick-font-path: "/bower_components/slick-carousel/slick/fonts/";
$slick-arrow-color: RGBA(195, 214, 225, 1);
$slick-opacity-default: 0.9;

/* colors */
$blue: #375260;
$blueLight: #fff;
$darker: RGBA(214, 214, 214, 0.4);

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: $blueLight;
    color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
}


h1, h2, h3 {
    color: $blue;
    font-family: 'Patua One', sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    margin-top: 32px;
}

th, td {
    padding: 0 12px 4px 0;
} 

.merry-go-round {
    overflow: hidden;
    position: relative;

    &__slider {
        position: relative;
        width: 9999px;

        &--moving {
            transition: all 0.2s ease;
        }
    }
    &__page {
        position: absolute;
        float: left;

        img, a {
            display: block;
            height: 100%;
            margin: 0 auto;
        }
    }
}

.page {
    width: 100%;
    height: 100%;
}

.carousel-wrapper {
    position: relative;

    .carousel-button {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 25%;

        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-color: $darker;
    border-bottom: 0;
    border-radius: 0;
    border-top: 1px solid #f2f2f2;
    margin: 10px 15px;
    padding: 30px 40px;
    text-align: left;

    h1 {
        color: $blue;
    }
    
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.container .jumbotron {
    border-radius: 1px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.map-container {
    background-color: $darker;
    border-radius: 1px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;

    h2 {
        margin-top: 0;
    }
}
.map {
    border: 1px solid rgba($blue, .1);
    height: 360px;
    width: 100%;
}

.description {
    margin: 2em 0 0;
}

.description ul {
    padding-left: 30px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}

.description li {
    &:before {
        content: '✔';
        margin-left: -30px;
        margin-right: 10px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 365px) {
    .jumbotron {
        padding: 15px 20px;
        width: 100%;
    }
}
